#!/bin/sh

sudo mount /dev/sdb1 /home/joaopedro/hd1

nitrogen --restore &  # Wallpaper
picom -f &            # Compositor
flameshot &           # Screenshot
dunst &	              # Notifications

nvidia-settings --load-config-only

# exec xmonad
# exec i3
