#!/bin/sh

[[ -f $XDG_DOTFILES_DIR/.config/keyboard/.Xmodmap_dead_greek ]] && xmodmap $XDG_DOTFILES_DIR/.config/keyboard/.Xmodmap_dead_greek

sudo mount /dev/sdb1 /home/joaopedro/HD

nitrogen --restore &  # Wallpaper
picom -f &            # Compositor
flameshot &           # Screenshot
dunst &	              # Notifications
redshift &	          # Adjusts the color

nvidia-settings --load-config-only

# exec xmonad
# exec i3
