#!/bin/sh

# -- Use gnome-disks --
# sudo mount /dev/sdb1 /home/joaopedro/HardDrive
# sudo modprobe r8169

nitrogen --restore &
flameshot &
dunst &
nvidia-settings --load-config-only &
picom --backend glx --xrender-sync-fence &
discord --start-minimized &

xmodmap $XDG_DOTFILES_DIR/.config/keyboard/.Xmodmap_dead_greek
# redshift &

# exec xmonad
# exec i3
