#!/bin/sh

[[ -f $XDG_DOTFILES_DIR/.config/keyboard/.Xmodmap_dead_greek ]] && xmodmap $XDG_DOTFILES_DIR/.config/keyboard/.Xmodmap_dead_greek

sudo mount /dev/sdb1 /home/joaopedro/HD

nitrogen --restore &
picom -f &
flameshot &
dunst &
redshift &
discord --start-minimized &

nvidia-settings --load-config-only

# exec xmonad
# exec i3
