! ############
! #  COLORS  #
! ############
! special
*.foreground:   #d3d0c8
*.background:   #312f43
*.white:        #f8f8f2
*.cursorColor:  #d3d0c8


! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #e5989b
*.color9:       #e5989b

! green
*.color2:       #a5e1ad
*.color10:      #a5e1ad

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #bd93f9
*.color13:      #bd93f9

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec



! === rofi ===

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       termite
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          510
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           Inconsolata 24
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #353944,      #404552
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
