/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #44475a90;
    background-alt: #383E4AFF;
    foreground:     #E5E9F0FF;
    selected:       #e5989b;
    active:         #f1fa8c;
    urgent:         #BF616AFF;
}


